@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


html{
    height: 100vh;
    overflow: hidden;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}

body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    width: 100vw;
    height: 100vh;
    margin: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x: hidden;
    overflow-y: scroll;
}


img{
    display: block;

}

/*PARALLAX*/
.parallax, main{
    width: 100%;
    position: relative;
    min-height: 100vh;
    transform-style: preserve-3d;
}
.parallax::before {
    will-change: transform;
}

.parallax::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("images/pablo-garcia-saldana-jtyIeXi1Goc-unsplash.jpg") center ;
    background-size: cover;
    transform: translateZ(-1px) scale(2.2);
}

.parallax::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("images/bottom-parralax.png")  center ;
    background-size: cover;
    transform: scale(1.1);
}

/*HEADER*/
header{
    position: absolute;
    width: 100vw;
    z-index: 5;

}


.wrapper{
    max-width: 80%;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

a, .btn{
    transition: all 300ms ease;
}

nav, .nav-links {
    display: flex;
}

nav{
    height: 17vh;
    max-width: 80%;
    margin-inline: auto;
    justify-content: space-between;
    align-items: center;
}
.px{
    height: 100px;
}

.nav-links{
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
    background: white;
    padding: 5px 15px;
}

.nav-links li{
    background: #fff;
    padding: 5px 15px;
    border-radius: 10px;
}

a{
    color: #000;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover{
    color: #b6a91b;
    cursor: pointer;
}

.logo{
    background: white;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 900;
}

/* HAMBURGER MENU*/
.hamburger-nav{
    display: none;

}

.hamburger-menu{
    position: relative;
    display: inline-block;
}

.hamburger-icon{
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 48px;
    width: 48px;
    cursor: pointer;
}

.hamburger-icon span{
    width: 100%;
    height: 2px;
    background: black;
    transition: all 300ms ease-in-out;
}

.menu-links{
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 300ms ease-in-out;

    margin-top: 20px;
}

.menu-links a{
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 300ms ease-in-out;
}

.menu-links li{
    list-style: none;
    padding: 10px 20px;
}

.menu-links.open{
    max-height: 300px;
}



.hamburger-icon.open span:first-child{
    transform: rotate(45deg) translate(6px, 12px);
}

.hamburger-icon.open span:nth-child(2){
    opacity: 0;
}

.hamburger-icon.open span:last-child{
    transform: rotate(-45deg) translate(6px, -12px);
}

.hamburger-icon span:first-child{
    transform: none;
}
.hamburger-icon span:nth-child(2){
    opacity: 1;
}
.hamburger-icon span:last-child{
    transform: none;
}



/*HERO SECTION*/


.hero{
    position: absolute;
    top: 30%;
    left: 10%;

    color: white;
    transform: translateZ(-0.5px) scale(2, 2);
}

.hero .title{
    font-weight: 900;
    font-size: 7vw;
}

/*COUNTDOWN*/
.discount{
    display: flex;
    justify-content: space-around;
}


.countdown{
    display: flex;
    gap: 1vw;
    text-align: center;
    justify-content: center;
    font-size: 1vw;
}
.time{
    display: flex;
    flex-direction: column;
}
.time h2{
    font-weight: 900;
    transform: scale(1.5, 1.5);
    margin-bottom: 0.5rem;
}



main{
    padding-top: 7rem;
    width: 100vw;
    background: #fff;
    min-height: 100vh;
}

/* ABOUT SECTION*/
.about{
    margin-bottom: 7rem;
}

/*REVEAL*/

section{
    width: 80%;
    margin-inline: auto;
}

.about-title{
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    margin-bottom: 1rem;
}

.about-text{
    font-size: 1.5rem;
    text-align: center;
}

.scroll-reveal  span{
    display: inline;
    color: rgba(122, 65, 5, 0.2);
    background-clip: text;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-image: linear-gradient(90deg, rgba(122, 65, 5, 1), #474929);
    animation: scroll-reveal linear forwards;
    animation-timeline: view(y);
}

.scroll-reveal h2 span {
    animation-range-start: contain 20vh;
    animation-range-end: contain 30vh;
}

.scroll-reveal p span {
    animation-range-start: cover 30vh;
    animation-range-end: cover 50vh;
}

@keyframes scroll-reveal {
    to{
        background-size: 100% 100%;
    }
}

/*EXPERIENCE*/
.exp{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2rem;
    margin-bottom: 10rem;
}

.exp-card {
    position: relative;
    width: 400px;
    aspect-ratio: 16/9;
    perspective: 1000px;
}

.front, .back{
    position: absolute;
    width: 100%;
    height: 100%;
    /*border-radius: 15px;*/
    box-shadow: 4px 12px 40px 6px rgba(0,0,0,0.09);
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: all 1s ease-in-out;
    backface-visibility: hidden;
    text-align: center;
}



.front{
    transform: rotateX(0deg);
    background: #474929;
}

.back{
    transform: rotateX(180deg);

    border: 3px solid rgba(122, 65, 5, 1);
}
.exp-title,
.exp-text {
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(90deg, rgba(122, 65, 5, 1), #474929);
    color: transparent;
}

.exp-title{
    font-weight: 900;
}


.exp-card:hover .front {
    transform: rotateX(180deg);
}

.exp-card:hover .back {
    transform: rotateX(360deg);
}


/*SLIDER*/


.slider{
    width: 80vw;
    /*border: 1px solid red;*/
    height: var(--height);
    margin-inline: auto;
    overflow: hidden;
    mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
}


.slider .list{
    display: flex;
    width: 100%;
    position: relative;
}

.list .item{
    width: var(--width);
    aspect-ratio: 1;
    position: absolute;
    left: 100%;
    animation: autoRun 8s linear infinite;
    animation-delay: calc( (8s / var(--quant)) * (var(--position) - 1));
    transition: all 0.5s ease-in-out;
    /*filter: grayscale(1);*/
}

.slider .list .item img{
    width: 100%;
}

@keyframes autoRun{
    from{
        left: 100%;
    }to{
        left: calc(var(--width) * -1);
         }

}

.slider:hover .item{
    animation-play-state: paused !important;
    filter: grayscale(1);
}

.slider .item:hover {
    filter: grayscale(0);
}

.hd-title{
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    margin-bottom: 4rem;
    -webkit-background-clip: text;
    background-image: linear-gradient(90deg, rgba(122, 65, 5, 1), #474929);
    color: transparent;
}

.tooltip{
    /*padding-top: 1rem;*/
}



.tooltip::after,
.tooltip::before{
    --scale: 0;

    position: absolute;
    bottom: -3rem;
    left: 50%;
    transform: translateX(-50%);
    /*transform-origin:  center bottom;*/
    opacity: 0;
    /*scale: var(--scale);*/
    transition: all 0.15s;
}

.tooltip::before{
    background: #474929;
    content: attr(data-tooltip);
    padding: 0.5rem;
    color: white;
    width: max-content;
    /*max-width: 100%;*/
    text-align: center;
}
.tooltip:hover::after,
.tooltip:hover:before{
    opacity: 1;
}

.tooltip::after{
    content: "";

    border: 13px solid transparent;
    border-bottom-color: #474929;
    bottom: -1rem;
}




footer {
    margin-top: 7rem;

    height: 300px;
    /*background: #d595bb;*/
    /*border-top: 3px solid rgba(122, 65, 5, 1);*/
    background: url("images/image-parallax.jpg");
    padding-bottom: 5rem;
}

.wrapper-footer{
    width: 80vw;
    margin-inline: auto;
    padding-top: 3rem;
    display: flex;
    justify-content: space-between;
}

.logo-big{
    display: grid;
    place-content: center;
    font-size: 2rem;
    font-weight: 900;
    background: white;
    padding: 5px;
    height: 64px;
    width: 64px;
}

.contact{
    background: white;
    padding: 10px 20px;
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.contact h2{
    font-size: 2rem;
    font-weight: 900;
}
.contact p{
    font-size: 12px;
}

.email{
    border-bottom: 1px dashed black;
}

